@import url(https://fonts.googleapis.com/css?family=Montserrat);

th, td {
  font-size: 20px;
  color: white;
  font-family: "Montserrat";
  font-weight: none;
  padding: 7px;
}

table {
  background-color: #333333;
  height: 100%;
}

img {
  width: 170px;
  height: 150px;
}

#background {
  float: right;
  width: 85%;
  height: 100%;
  z-index: -1;
  display: none;
}

audio {
  float: right;
  position: absolute;
  z-index: 1;
  bottom: 200px;
  left: 600px;
}

body {
  background-color: black;
}

#graph {
  width: 700px;
  height: 500px;
  top: 30px;
  left: 380px;
  z-index: 1;
  background-color: black;
  color: white;
  position: absolute;
  float:right;
  overflow-x: scroll;
}

#scoreboard {
  position: absolute;
  z-index: 1;
  height: 50px;
  width: 400px;
  top: 650px;
  left: 550px;
  display: block;
  background-color: #333333;
  color: white;
  font-family: "Montserrat";
  border-radius: 25px;
  opacity: 0.8;
  text-align: center;
  line-height: 50px;
}

#score {
  text-align: center;
}

/* 
  User Input Visualization Related Styles
*/

#note { 
  font-size: 164px; 
}

.droptarget { 
  background-color: #348781
}

div.confident { 
  color: black; 
}

div.vague { 
  color: lightgrey; 
}

#note { 
  display: inline-block; 
  height:180px; 
  text-align: left;
}

#pitchdetector {
  width: 512px;
  height: auto;
  margin: auto;
  background-color: white;
  z-index: 1;
}

#detector { 
  width: 300px; 
  height: 300px;
  border: 4px solid gray; 
  border-radius: 8px; 
  text-align: center; 
  padding-top: 10px;
}

#output { 
  width: 300px; 
  height: 42px; 
}

#flat { 
  display: none; 
}

#sharp { 
  display: none; 
}

.flat #flat { 
  display: inline; 
}

.sharp #sharp { 
  display: inline; 
  font-size: 1.5em;
}